<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.ui.npm.LaunchConfigurationType">
<stringAttribute key="key_file_path" value="/vinteMinutos/package.json"/>
<stringAttribute key="key_goal" value="install"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
